* {
  margin: 0;
  padding: 0;
}

body {
  z-index: -100;
}

.web-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgb(2 0 36 / 100%) 0%, rgb(9 9 121 / 100%) 50%, rgb(20 120 140 / 100%) 100%);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
}

.mp3-player-container {
  height: 600px;
  width: 700px;
  display: flex;
}

.mp3-player {
  height: 600px;
  width: 350px;
  background-color: rgb(222 222 222);
  display: flex;
  flex-direction: column;
}

.playlist {
  height: 300px;
  width: 350px;
  background-color: rgb(146 146 146);
  opacity: 1;
  transition: 0.5s;
  position: relative;
  bottom: -10px;
  box-shadow: 2px 2px 5px #0c0329;
}

.art-box {
  height: 55%;
  width: 100%;
  background: #000;
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
}

.art {
  background: transparent;
  height: 50%;
  width: 50%;
}

.bottom-left {
  display: flex;
  flex-direction: column-reverse;
}

.bottom-right {
  display: flex;
  flex-direction: column-reverse;
}

.bottom-right p {
  align-self: flex-end;
}

.playlist-button {
  height: 25%;
  width: 25%;
  border: transparent;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  position: relative;
  right: -150px;
  bottom: -25px;
  z-index: 50;
}

.playlist-button:hover {
  opacity: 0.5;
}

.playlist-is-closed {
  opacity: 0.2;
}

.playlist-is-open {
  opacity: 0.95;
  background: rgb(146 146 146);
  transform: rotate(90deg);
}

.controls-box {
  height: 30%;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
}

.controls-top {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls-bottom {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.control-button {
  height: 50px;
  width: 50px;
  background: transparent;
  border: transparent;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.control-button:hover {
  opacity: 1;
  transform: scale(1.15);
}

.control-button:active {
  box-shadow: 0 15px 25px -5px rgb(dodgerblue 40%);
  opacity: 0.8;
  transform: scale(0.8);
}

.status-box {
  height: 15%;
  width: 100%;
  background: rgb(91 128 135);
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-box h3 {
  text-align: center;
}

.hidden {
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-100%);
}

.control-button img {
  width: 40px; /* you can use % */
  height: auto;
}
